$orange: #F26524;
$black: #333033;
$gray50: #8C8E90;
$turquoise: #00AC98;
$green: #C2D500;

body{
    scroll-behavior: smooth;
}

header{
  z-index: 100;
  position: fixed;
  background-color: rgba(255, 255, 255, .85);
  height: 60px;
  .header-container{
position: relative;
  }
  img{
    width: 200px;
    height: auto;
    margin-top: 15px;
    margin-left: 7vw;
  }
  ul{
    float: left;
    width: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  a{
    float: left;
    color: $black;
    text-decoration: none;
  }
  li{
    float: left;
    list-style: none;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: gotham;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .active{
    border-top: 10px solid $orange;
    padding-top: 5px;
  }
}

.container-right{
  float: right;
  margin-right: 6vw;
  a{

    padding: 10px;
    font-family: gotham;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-left: 25px;
    border: 1px solid $black;
  }
}


footer{
  z-index: 100;
  position: fixed;
  bottom: 0;
  height: 30px;
  background-color: rgba(255, 255, 255, .85);
  padding: 5px;

  .footer-ul{
    list-style: none;
    float: right;
    width: auto;
    li{
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      font-family: gotham;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1px;
    }
  }
  a{
    color: $black;
    text-decoration: none;
  }
}



.footer-sm{
  list-style: none;
  float: left;
  width: auto;
  margin-left: 8vw;
  li{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-family: gotham;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
  }
}




.fold{
  h2{
    position: absolute;
    left: 5%;
    bottom: 15%;
    color: white;
    font-family: gotham;
    font-weight: bold;
    font-size: 65px;
    line-height: 65px;
    z-index: 100;
    span{
      font-family: adelle;
      font-style: italic;
    }
  }



.next{
  color: white;
  position: absolute;
  bottom: 10%;
  z-index: 100;
  width: 5vw;
  height: 5vw;
  bottom: 50px;
  left: 0;
  right: 0;
  margin-left: 47.5vw;
  margin-right: 47.5vw;
}
}


.video-background{
  width: 100vw!important;
  height: auto;
  position: absolute;
  left: 0;
}

.header-background{
  background-color: white;
  height: 60px;
}

.section1 {

}

.section2 {

}

main{
  height: 100vh;
}
section{
  overflow: hidden;
  position: relative;
}


.section-even{

  .content-container{
    position: absolute;
    top: 15%;
    right: 5%;
    h2{
      font-size: 100px;
      font-family: gotham;
      font-weight: 900;
      text-align: right;
      line-height: 100px;
      margin-bottom: 25px;
    }
    h3{
      font-size: 22px;
      font-weight: 600;
      text-align: right;
      width: 20vw;
      float: right;
      font-family: adelle;
      margin-bottom: 25px;
      margin-left: 100%;
    }
    p{
      font-family: gotham;
      text-align: right;
      float: right;
      font-size: 16px;
      line-height: 26px;
      width: 20vw;
    }
  }
}





.section-odd{

  .content-container{
    position: absolute;
    top: 15%;
    left: 5%;
    h2{
      font-size: 100px;
      font-family: gotham;
      font-weight: 900;
      text-align: left;
      line-height: 100px;
      margin-bottom: 25px;
    }
    h3{
      font-size: 22px;
      font-weight: 600;
      text-align: left;
      width: 20vw;
      float: left;
      font-family: adelle;
      margin-bottom: 25px;
      margin-right: 100%;
    }
    p{
      font-family: gotham;
      text-align: left;
      float: left;
      font-size: 16px;
      line-height: 26px;
      width: 20vw;
    }
  }
}

.scroll-container section {
h2{
  transition: 1s;
}
}





.outline-orange{
  -webkit-text-stroke-width: 4px;
 -webkit-text-stroke-color: $orange;
 color: rgba(255,  255, 255, 0);
}

.outline-turquoise{
  -webkit-text-stroke-width: 4px;
 -webkit-text-stroke-color: $turquoise;
 color: rgba(255,  255, 255, 0);
}

.outline-green{
  -webkit-text-stroke-width: 4px;
 -webkit-text-stroke-color: $green;
 color: rgba(255,  255, 255, 0);
}
/*TYPOGRAPHY*/
