header {
  z-index: 100;
  position: fixed; }
  header .header-container {
    position: relative; }
  header img {
    width: 200px;
    height: auto;
    margin-top: 15px;
    margin-left: 7vw; }
  header ul {
    float: left;
    width: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto; }
  header a {
    float: left;
    color: #333033;
    text-decoration: none; }
  header li {
    float: left;
    list-style: none;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: gotham;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px; }
  header .active {
    border-top: 10px solid #F26524;
    padding-top: 5px; }

.container-right {
  float: right;
  margin-right: 6vw; }
  .container-right a {
    padding: 10px;
    font-family: gotham;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-left: 25px;
    border: 1px solid #333033; }

footer {
  z-index: 100;
  position: fixed;
  bottom: 0;
  right: 6vw; }
  footer .footer-ul {
    list-style: none;
    float: right;
    width: auto; }
    footer .footer-ul li {
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      font-family: gotham;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 1px; }
  footer a {
    color: #333033;
    text-decoration: none; }

.footer-sm {
  list-style: none;
  float: left;
  width: auto;
  margin-left: 8vw; }
  .footer-sm li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-family: gotham;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px; }

.fold h2 {
  position: absolute;
  left: 5%;
  bottom: 15%;
  color: white;
  font-family: gotham;
  font-weight: bold;
  font-size: 65px;
  line-height: 65px; }
  .fold h2 span {
    font-family: adelle;
    font-style: italic; }

.video-background {
  width: 100vw !important;
  height: auto; }

.header-background {
  background-color: white;
  height: 60px; }

main {
  height: 100vh; }

section {
  overflow: hidden;
  position: relative; }

.section-even .content-container {
  position: absolute;
  top: 15%;
  right: 5%; }
  .section-even .content-container h2 {
    font-size: 100px;
    font-family: gotham;
    font-weight: 900;
    text-align: right;
    line-height: 100px;
    margin-bottom: 25px; }
  .section-even .content-container h3 {
    font-size: 22px;
    font-weight: 600;
    text-align: right;
    width: 20vw;
    float: right;
    font-family: adelle;
    margin-bottom: 25px;
    margin-left: 100%; }
  .section-even .content-container p {
    font-family: gotham;
    text-align: right;
    float: right;
    font-size: 16px;
    line-height: 26px;
    width: 20vw; }

.section-odd .content-container {
  position: absolute;
  top: 15%;
  left: 5%; }
  .section-odd .content-container h2 {
    font-size: 100px;
    font-family: gotham;
    font-weight: 900;
    text-align: left;
    line-height: 100px;
    margin-bottom: 25px; }
  .section-odd .content-container h3 {
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    width: 20vw;
    float: left;
    font-family: adelle;
    margin-bottom: 25px;
    margin-right: 100%; }
  .section-odd .content-container p {
    font-family: gotham;
    text-align: left;
    float: left;
    font-size: 16px;
    line-height: 26px;
    width: 20vw; }

.scroll-container section h2 {
  transition: 1s; }

.outline-orange {
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #F26524;
  color: rgba(255, 255, 255, 0); }

.outline-turquoise {
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #00AC98;
  color: rgba(255, 255, 255, 0); }

.outline-green {
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #C2D500;
  color: rgba(255, 255, 255, 0); }

/*TYPOGRAPHY*/

/*# sourceMappingURL=style.css.map */
